In [5]:
import pandas as pd

In [6]:
년도 = 25

In [7]:
표제부_dtypes = {
    '관리건축물대장PK': 'string',
    '대장구분코드': 'string',
    '대장구분코드명': 'string',
    '대장종류코드': 'string',
    '대장종류코드명': 'string',
    '대지위치': 'string',
    '도로명대지위치': 'string',
    '건물명': 'string',
    '시군구코드': 'string',
    '법정동코드': 'string',
    '대지구분코드': 'string',
    '번': 'string',
    '지': 'string',
    '특수지명': 'string',
    '블록': 'string',
    '로트': 'string',
    '외필지수': 'Int64',
    '새주소도로코드': 'string',
    '새주소법정동코드': 'string',
    '새주소지상지하코드': 'string',
    '새주소본번': 'Int64',
    '새주소부번': 'Int64',
    '동명': 'string',
    '주부속구분코드': 'string',
    '주부속구분코드명': 'string',
    '대지면적(㎡)': 'Float64',
    '건축면적(㎡)': 'Float64',
    '건폐율(%)': 'Float64',
    '연면적(㎡)': 'Float64',
    '용적률산정연면적(㎡)': 'Float64',
    '용적률(%)': 'Float64',
    '구조코드': 'string',
    '구조코드명': 'string',
    '기타구조': 'string',
    '주용도코드': 'string',
    '주용도코드명': 'string',
    '기타용도': 'string',
    '지붕코드': 'string',
    '지붕코드명': 'string',
    '기타지붕': 'string',
    '세대수(세대)': 'Int64',
    '가구수(가구)': 'Int64',
    '높이(m)': 'Float64',
    '지상층수': 'Int64',
    '지하층수': 'Int64',
    '승용승강기수': 'Int64',
    '비상용승강기수': 'Int64',
    '부속건축물수': 'Int64',
    '부속건축물면적(㎡)': 'Float64',
    '총동연면적(㎡)': 'Float64',
    '옥내기계식대수(대)': 'Int64',
    '옥내기계식면적(㎡)': 'Float64',
    '옥외기계식대수(대)': 'Int64',
    '옥외기계식면적(㎡)': 'Float64',
    '옥내자주식대수(대)': 'Int64',
    '옥내자주식면적(㎡)': 'Float64',
    '옥외자주식대수(대)': 'Int64',
    '옥외자주식면적(㎡)': 'Float64',
    '허가일': 'string',
    '착공일': 'string',
    '사용승인일': 'string',
    '허가번호년': 'string',
    '허가번호기관코드': 'string',
    '허가번호기관코드명': 'string',
    '허가번호구분코드': 'string',
    '허가번호구분코드명': 'string',
    '호수(호)': 'Int64',
    '에너지효율등급': 'string',
    '에너지절감율': 'Float64',
    '에너지EPI점수': 'Int64',
    '친환경건축물등급': 'string',
    '친환경건축물인증점수': 'Int64',
    '지능형건축물등급': 'string',
    '지능형건축물인증점수': 'Int64',
    '생성일자': 'string',
    '내진설계적용여부': 'string',
    '내진능력': 'string'
}

In [8]:
총괄표제부_dtypes = {
    '관리건축물대장PK': 'string',
    '대장구분코드': 'string',
    '대장구분코드명': 'string',
    '대장종류코드': 'string',
    '대장종류코드명': 'string',
    '신구대장구분코드': 'string',
    '신구대장구분코드명': 'string',
    '대지위치': 'string',
    '도로명대지위치': 'string', 
    '건물명': 'string',
    '시군구코드': 'string',
    '법정동코드': 'string',
    '대지구분코드': 'string',
    '번': 'string',
    '지': 'string',
    '특수지명': 'string',
    '블록': 'string',
    '로트': 'string',
    '외필지수': 'Int64',
    '새주소도로코드': 'string',
    '새주소법정동코드': 'string',
    '새주소지상지하코드': 'string',
    '새주소본번': 'Int64',
    '새주소부번': 'Int64',
    '대지면적(㎡)': 'Float64',
    '건축면적(㎡)': 'Float64',
    '건폐율(%)': 'Float64',
    '연면적(㎡)': 'Float64',
    '용적률산정연면적(㎡)': 'Float64',
    '용적률(%)': 'Float64',
    '주용도코드': 'string',
    '주용도코드명': 'string',
    '기타용도': 'string',
    '세대수(세대)': 'Int64',
    '가구수(가구)': 'Int64',
    '주건축물수': 'Int64',
    '부속건축물수': 'Int64',
    '부속건축물면적(㎡)': 'Float64',
    '총주차수': 'Int64',
    '옥내기계식대수(대)': 'Int64',
    '옥내기계식면적(㎡)': 'Float64',
    '옥외기계식대수(대)': 'Int64',
    '옥외기계식면적(㎡)': 'Float64',
    '옥내자주식대수(대)': 'Int64',
    '옥내자주식면적(㎡)': 'Float64',
    '옥외자주식대수(대)': 'Int64',
    '옥외자주식면적(㎡)': 'Float64',
    '허가일': 'string',
    '착공일': 'string',
    '사용승인일': 'string',
    '허가번호년': 'string',
    '허가번호기관코드': 'string',
    '허가번호기관코드명': 'string',
    '허가번호구분코드': 'string',
    '허가번호구분코드명': 'string',
    '호수(호)': 'Int64',
    '에너지효율등급': 'string',
    '에너지절감율': 'Float64',
    '에너지EPI점수': 'Float64',
    '친환경건축물등급': 'string',
    '친환경건축물인증점수': 'Float64',
    '지능형건축물등급': 'string',
    '지능형건축물인증점수': 'Float64',
    '생성일자': 'string'
}

In [9]:
병합_dtypes = {
    '관리건축물대장PK': 'string',
    '그룹 종류': 'Int64',
    '대장구분코드': 'string',
    '대장구분코드명': 'string',
    '대장종류코드': 'string',
    '대장종류코드명': 'string',
    '신구대장구분코드': 'string',
    '신구대장구분코드명': 'string',
    '대지위치': 'string',
    '도로명대지위치': 'string',
    '건물명': 'string',
    '시군구코드': 'string',
    '법정동코드': 'string',
    '대지구분코드': 'string',
    '번': 'string',
    '지': 'string',
    '특수지명': 'string',
    '블록': 'string',
    '로트': 'string',
    '외필지수': 'Int64',
    '새주소도로코드': 'string',
    '새주소법정동코드': 'string',
    '새주소지상지하코드': 'string',
    '새주소본번': 'Int64',
    '새주소부번': 'Int64',
    '대지면적(㎡)': 'Float64',
    '건축면적(㎡)': 'Float64',
    '건폐율(%)': 'Float64',
    '연면적(㎡)': 'Float64',
    '용적률산정연면적(㎡)': 'Float64',
    '용적률(%)': 'Float64',
    '주용도코드': 'string',
    '주용도코드명': 'string',
    '기타용도': 'string',
    '세대수(세대)': 'Int64',
    '가구수(가구)': 'Int64',
    '주건축물수': 'Int64',
    '부속건축물수': 'Int64',
    '부속건축물면적(㎡)': 'Float64',
    '총주차수': 'Int64',
    '옥내기계식대수(대)': 'Int64',
    '옥내기계식면적(㎡)': 'Float64',
    '옥외기계식대수(대)': 'Int64',
    '옥외기계식면적(㎡)': 'Float64',
    '옥내자주식대수(대)': 'Int64',
    '옥내자주식면적(㎡)': 'Float64',
    '옥외자주식대수(대)': 'Int64',
    '옥외자주식면적(㎡)': 'Float64',
    '허가일': 'string',
    '착공일': 'string',
    '사용승인일': 'string',
    '허가번호년': 'string',
    '허가번호기관코드': 'string',
    '허가번호기관코드명': 'string',
    '허가번호구분코드': 'string',
    '허가번호구분코드명': 'string',
    '호수(호)': 'Int64',
    '에너지효율등급': 'string',
    '에너지절감율': 'Float64',
    'EPI점수': 'Int64',
    '친환경건축물등급': 'string',
    '친환경건축물인증점수': 'Float64',
    '지능형건축물등급': 'string',
    '지능형건축물인증점수': 'Float64',
    '생성일자': 'string',
    '동명칭': 'string',
    '주부속구분코드': 'string',
    '주부속구분코드명': 'string',
    '구조코드': 'string',
    '구조코드명': 'string',
    '기타구조': 'string',
    '지붕코드': 'string',
    '지붕코드명': 'string',
    '기타지붕': 'string',
    '높이(m)': 'Float64',
    '지상층수': 'Int64',
    '지하층수': 'Int64',
    '승용승강기수': 'Int64',
    '비상용승강기수': 'Int64',
    '총동연면적(㎡)': 'Float64',
    '내진설계적용여부': 'string',
    '내진능력': 'string'
}

# 파일 불러오기 (컬럼명 및 타입 지정)

이때 컬럼 내에 잘못된 데이터가 들어가 있는 경우가 많기 때문에 (예를 들어, 높이에 문자열이 들어가 있는 경우) 우선 string 로 읽고나서 타입 지정이 가능하다면 타입을 지정했고, 불가능한 경우는 string 을 부여했다. 특히, '외필지수'의 경우 NUMERIC(5) 로 지정되어 있지만 실제 값에 문자열이 들어가 있는 경우가 있어 string 로 지정했다.
나머지는 국토부에서 공개한 DB data type 과 1:1 대응된다.

In [10]:
표제부_path = f'./input/일반{년도}.txt'
총괄표제부_path = f'./input/총괄{년도}.txt'

## 국토부 건축물대장 - 표제부

In [11]:
# First read all columns as string
표제부 = pd.read_csv(
    표제부_path, 
    dtype='string',  # Read everything as string first
    encoding='UTF-8',     
    sep='|', 
    na_values=['', 'NULL', 'null', 'NaN', 'nan'], 
    names=list(표제부_dtypes.keys()),
    header=None,
    index_col=False,
    skiprows=0
)

In [12]:
#테스트
row = 표제부.iloc[99]
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.max_colwidth', None,
                       'display.width', 0):
    print(row.to_frame().T)

     관리건축물대장PK 대장구분코드 대장구분코드명 대장종류코드 대장종류코드명                 대지위치  \
99  1002127366      1      일반      2   일반건축물  서울특별시 종로구 부암동 253번지

                     도로명대지위치   건물명  시군구코드  법정동코드 대지구분코드     번     지  특수지명  \
99  서울특별시 종로구 창의문로3길 8 (부암동)  <NA>  11110  18400      0  0253  0000  <NA>

      블록    로트 외필지수       새주소도로코드 새주소법정동코드 새주소지상지하코드 새주소본번 새주소부번    동명  \
99  <NA>  <NA>    0  111104100459    18401         0     8  <NA>  <NA>

   주부속구분코드 주부속구분코드명 대지면적(㎡) 건축면적(㎡) 건폐율(%)  연면적(㎡) 용적률산정연면적(㎡) 용적률(%) 구조코드  \
99       0     주건축물       0       0      0  202.65           0      0   11

   구조코드명              기타구조  주용도코드 주용도코드명    기타용도 지붕코드 지붕코드명     기타지붕 세대수(세대)  \
99  벽돌구조  연와조, 목조, 철근 혼음도조  01000   단독주택  주택, 창고   20    기와  와즙, 평옥개       0

   가구수(가구) 높이(m) 지상층수 지하층수 승용승강기수 비상용승강기수 부속건축물수 부속건축물면적(㎡) 총동연면적(㎡)  \
99       1     0    2    0      0       0      2      31.41   202.65

   옥내기계식대수(대) 옥내기계식면적(㎡) 옥외기계식대수(대) 옥외기계식면적(㎡) 옥내자주식대수(대) 옥내자주식면적(㎡)  \
99          0          0          0          0          0          0

   옥외자주식대수(대) 옥외자주식면적(㎡)   허가일   착공일 사용승인일 허가번호년 허가번호기관코드 허가번호기관코드명 허가번호구분코드  \
99          0          0  <NA>  <NA>  <NA>  <NA>     <NA>      <NA>     <NA>

   허가번호구분코드명 호수(호) 에너지효율등급 에너지절감율 에너지EPI점수 친환경건축물등급 친환경건축물인증점수 지능형건축물등급  \
99      <NA>     0    <NA>      0        0     <NA>          0     <NA>

   지능형건축물인증점수      생성일자 내진설계적용여부  내진능력
99          0  20220813        0  <NA>

In [13]:
#test
# 표제부에서 대지위치가 '서울특별시 송파구 양재대로 1218' 인 경우 추출
관리2900 = 표제부[표제부['관리건축물대장PK'] == '11710-2900']
# 모든 column 값 출력
for col in 관리2900.columns:
    print(f"Column: {col}")
    print(관리2900[col].head())
    print('\n')

Column: 관리건축물대장PK
Series([], Name: 관리건축물대장PK, dtype: string)


Column: 대장구분코드
Series([], Name: 대장구분코드, dtype: string)


Column: 대장구분코드명
Series([], Name: 대장구분코드명, dtype: string)


Column: 대장종류코드
Series([], Name: 대장종류코드, dtype: string)


Column: 대장종류코드명
Series([], Name: 대장종류코드명, dtype: string)


Column: 대지위치
Series([], Name: 대지위치, dtype: string)


Column: 도로명대지위치
Series([], Name: 도로명대지위치, dtype: string)


Column: 건물명
Series([], Name: 건물명, dtype: string)


Column: 시군구코드
Series([], Name: 시군구코드, dtype: string)


Column: 법정동코드
Series([], Name: 법정동코드, dtype: string)


Column: 대지구분코드
Series([], Name: 대지구분코드, dtype: string)


Column: 번
Series([], Name: 번, dtype: string)


Column: 지
Series([], Name: 지, dtype: string)


Column: 특수지명
Series([], Name: 특수지명, dtype: string)


Column: 블록
Series([], Name: 블록, dtype: string)


Column: 로트
Series([], Name: 로트, dtype: string)


Column: 외필지수
Series([], Name: 외필지수, dtype: string)


Column: 새주소도로코드
Series([], Name: 새주소도로코드, dtype: string)


Column: 새주소법정동코드
Series([], Name: 새주소법정동코드, dtype: string)


Column: 새주소지상지하코드
Series([], Name: 새주소지상지하코드, dtype: string)


Column: 새주소본번
Series([], Name: 새주소본번, dtype: string)


Column: 새주소부번
Series([], Name: 새주소부번, dtype: string)


Column: 동명
Series([], Name: 동명, dtype: string)


Column: 주부속구분코드
Series([], Name: 주부속구분코드, dtype: string)


Column: 주부속구분코드명
Series([], Name: 주부속구분코드명, dtype: string)


Column: 대지면적(㎡)
Series([], Name: 대지면적(㎡), dtype: string)


Column: 건축면적(㎡)
Series([], Name: 건축면적(㎡), dtype: string)


Column: 건폐율(%)
Series([], Name: 건폐율(%), dtype: string)


Column: 연면적(㎡)
Series([], Name: 연면적(㎡), dtype: string)


Column: 용적률산정연면적(㎡)
Series([], Name: 용적률산정연면적(㎡), dtype: string)


Column: 용적률(%)
Series([], Name: 용적률(%), dtype: string)


Column: 구조코드
Series([], Name: 구조코드, dtype: string)


Column: 구조코드명
Series([], Name: 구조코드명, dtype: string)


Column: 기타구조
Series([], Name: 기타구조, dtype: string)


Column: 주용도코드
Series([], Name: 주용도코드, dtype: string)


Column: 주용도코드명
Series([], Name: 주용도코드명, dtype: string)


Column: 기타용도
Series([], Name: 기타용도, dtype: string)


Column: 지붕코드
Series([], Name: 지붕코드, dtype: string)


Column: 지붕코드명
Series([], Name: 지붕코드명, dtype: string)


Column: 기타지붕
Series([], Name: 기타지붕, dtype: string)


Column: 세대수(세대)
Series([], Name: 세대수(세대), dtype: string)


Column: 가구수(가구)
Series([], Name: 가구수(가구), dtype: string)


Column: 높이(m)
Series([], Name: 높이(m), dtype: string)


Column: 지상층수
Series([], Name: 지상층수, dtype: string)


Column: 지하층수
Series([], Name: 지하층수, dtype: string)


Column: 승용승강기수
Series([], Name: 승용승강기수, dtype: string)


Column: 비상용승강기수
Series([], Name: 비상용승강기수, dtype: string)


Column: 부속건축물수
Series([], Name: 부속건축물수, dtype: string)


Column: 부속건축물면적(㎡)
Series([], Name: 부속건축물면적(㎡), dtype: string)


Column: 총동연면적(㎡)
Series([], Name: 총동연면적(㎡), dtype: string)


Column: 옥내기계식대수(대)
Series([], Name: 옥내기계식대수(대), dtype: string)


Column: 옥내기계식면적(㎡)
Series([], Name: 옥내기계식면적(㎡), dtype: string)


Column: 옥외기계식대수(대)
Series([], Name: 옥외기계식대수(대), dtype: string)


Column: 옥외기계식면적(㎡)
Series([], Name: 옥외기계식면적(㎡), dtype: string)


Column: 옥내자주식대수(대)
Series([], Name: 옥내자주식대수(대), dtype: string)


Column: 옥내자주식면적(㎡)
Series([], Name: 옥내자주식면적(㎡), dtype: string)


Column: 옥외자주식대수(대)
Series([], Name: 옥외자주식대수(대), dtype: string)


Column: 옥외자주식면적(㎡)
Series([], Name: 옥외자주식면적(㎡), dtype: string)


Column: 허가일
Series([], Name: 허가일, dtype: string)


Column: 착공일
Series([], Name: 착공일, dtype: string)


Column: 사용승인일
Series([], Name: 사용승인일, dtype: string)


Column: 허가번호년
Series([], Name: 허가번호년, dtype: string)


Column: 허가번호기관코드
Series([], Name: 허가번호기관코드, dtype: string)


Column: 허가번호기관코드명
Series([], Name: 허가번호기관코드명, dtype: string)


Column: 허가번호구분코드
Series([], Name: 허가번호구분코드, dtype: string)


Column: 허가번호구분코드명
Series([], Name: 허가번호구분코드명, dtype: string)


Column: 호수(호)
Series([], Name: 호수(호), dtype: string)


Column: 에너지효율등급
Series([], Name: 에너지효율등급, dtype: string)


Column: 에너지절감율
Series([], Name: 에너지절감율, dtype: string)


Column: 에너지EPI점수
Series([], Name: 에너지EPI점수, dtype: string)


Column: 친환경건축물등급
Series([], Name: 친환경건축물등급, dtype: string)


Column: 친환경건축물인증점수
Series([], Name: 친환경건축물인증점수, dtype: string)


Column: 지능형건축물등급
Series([], Name: 지능형건축물등급, dtype: string)


Column: 지능형건축물인증점수
Series([], Name: 지능형건축물인증점수, dtype: string)


Column: 생성일자
Series([], Name: 생성일자, dtype: string)


Column: 내진설계적용여부
Series([], Name: 내진설계적용여부, dtype: string)


Column: 내진능력
Series([], Name: 내진능력, dtype: string)

In [14]:
# 각 컬럼에 대한 예시 값 출력
for col in 표제부.columns:
    print(f"Column: {col}")
    print(표제부[col].head())
    print('\n')

Column: 관리건축물대장PK
0    1002120998
1    1002119210
2    1002121184
3    1002114237
4    1002116991
Name: 관리건축물대장PK, dtype: string


Column: 대장구분코드
0    1
1    1
2    1
3    1
4    1
Name: 대장구분코드, dtype: string


Column: 대장구분코드명
0    일반
1    일반
2    일반
3    일반
4    일반
Name: 대장구분코드명, dtype: string


Column: 대장종류코드
0    2
1    2
2    2
3    2
4    2
Name: 대장종류코드, dtype: string


Column: 대장종류코드명
0    일반건축물
1    일반건축물
2    일반건축물
3    일반건축물
4    일반건축물
Name: 대장종류코드명, dtype: string


Column: 대지위치
0     서울특별시 종로구 숭인동 59-45번지
1     서울특별시 종로구 연건동 190-7번지
2     서울특별시 종로구 부암동 220-1번지
3       서울특별시 종로구 세종로 106번지
4    서울특별시 종로구 창신동 583-52번지
Name: 대지위치, dtype: string


Column: 도로명대지위치
0    서울특별시 종로구 지봉로12가길 35 (숭인동)
1                          <NA>
2      서울특별시 종로구 창의문로 170 (부암동)
3                          <NA>
4        서울특별시 종로구 창신길 68 (창신동)
Name: 도로명대지위치, dtype: string


Column: 건물명
0    조은어린이집
1      <NA>
2      <NA>
3      <NA>
4      <NA>
Name: 건물명, dtype: string


Column: 시군구코드
0    11110
1    11110
2    11110
3    11110
4    11110
Name: 시군구코드, dtype: string


Column: 법정동코드
0    17500
1    16600
2    18400
3    11900
4    17400
Name: 법정동코드, dtype: string


Column: 대지구분코드
0    0
1    0
2    0
3    0
4    0
Name: 대지구분코드, dtype: string


Column: 번
0    0059
1    0190
2    0220
3    0106
4    0583
Name: 번, dtype: string


Column: 지
0    0045
1    0007
2    0001
3    0000
4    0052
Name: 지, dtype: string


Column: 특수지명
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 특수지명, dtype: string


Column: 블록
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 블록, dtype: string


Column: 로트
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 로트, dtype: string


Column: 외필지수
0    0
1    0
2    0
3    0
4    0
Name: 외필지수, dtype: string


Column: 새주소도로코드
0    111104100379
1            <NA>
2    111103100014
3            <NA>
4    111104100453
Name: 새주소도로코드, dtype: string


Column: 새주소법정동코드
0    17501
1     <NA>
2    18403
3     <NA>
4    17401
Name: 새주소법정동코드, dtype: string


Column: 새주소지상지하코드
0    0
1    0
2    0
3    0
4    0
Name: 새주소지상지하코드, dtype: string


Column: 새주소본번
0      35
1    <NA>
2     170
3    <NA>
4      68
Name: 새주소본번, dtype: string


Column: 새주소부번
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 새주소부번, dtype: string


Column: 동명
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 동명, dtype: string


Column: 주부속구분코드
0    0
1    0
2    0
3    0
4    0
Name: 주부속구분코드, dtype: string


Column: 주부속구분코드명
0    주건축물
1    주건축물
2    주건축물
3    주건축물
4    주건축물
Name: 주부속구분코드명, dtype: string


Column: 대지면적(㎡)
0    172.3
1        0
2        0
3        0
4     74.4
Name: 대지면적(㎡), dtype: string


Column: 건축면적(㎡)
0        0
1        0
2        0
3        0
4    42.21
Name: 건축면적(㎡), dtype: string


Column: 건폐율(%)
0        0
1        0
2        0
3        0
4    56.73
Name: 건폐율(%), dtype: string


Column: 연면적(㎡)
0    285.06
1        16
2     62.51
3    898.26
4    163.95
Name: 연면적(㎡), dtype: string


Column: 용적률산정연면적(㎡)
0         0
1         0
2         0
3         0
4    121.74
Name: 용적률산정연면적(㎡), dtype: string


Column: 용적률(%)
0         0
1         0
2         0
3         0
4    163.63
Name: 용적률(%), dtype: string


Column: 구조코드
0    21
1    51
2    11
3    21
4    21
Name: 구조코드, dtype: string


Column: 구조코드명
0    철근콘크리트구조
1       일반목구조
2        벽돌구조
3    철근콘크리트구조
4    철근콘크리트구조
Name: 구조코드명, dtype: string


Column: 기타구조
0      철근콘크리트조
1           목조
2     연와조, 브럭조
3      철근콘크리트조
4    철근콘크리트라멘조
Name: 기타구조, dtype: string


Column: 주용도코드
0    11000
1    01000
2    03000
3    14000
4    01000
Name: 주용도코드, dtype: string


Column: 주용도코드명
0        노유자시설
1         단독주택
2    제1종근린생활시설
3         업무시설
4         단독주택
Name: 주용도코드명, dtype: string


Column: 기타용도
0            어린이집
1              주택
2    근린생활시설 (소매점)
3             사무실
4          주택, 점포
Name: 기타용도, dtype: string


Column: 지붕코드
0    10
1    20
2    10
3    10
4    10
Name: 지붕코드, dtype: string


Column: 지붕코드명
0    (철근)콘크리트
1          기와
2    (철근)콘크리트
3    (철근)콘크리트
4    (철근)콘크리트
Name: 지붕코드명, dtype: string


Column: 기타지붕
0          스라브
1           와즙
2    스라브, 스레이트
3          평옥개
4          스라브
Name: 기타지붕, dtype: string


Column: 세대수(세대)
0    0
1    0
2    0
3    0
4    0
Name: 세대수(세대), dtype: string


Column: 가구수(가구)
0    0
1    1
2    0
3    0
4    1
Name: 가구수(가구), dtype: string


Column: 높이(m)
0    0
1    0
2    0
3    0
4    0
Name: 높이(m), dtype: string


Column: 지상층수
0    2
1    1
2    2
3    7
4    3
Name: 지상층수, dtype: string


Column: 지하층수
0    1
1    0
2    0
3    1
4    1
Name: 지하층수, dtype: string


Column: 승용승강기수
0    0
1    0
2    0
3    0
4    0
Name: 승용승강기수, dtype: string


Column: 비상용승강기수
0    0
1    0
2    0
3    0
4    0
Name: 비상용승강기수, dtype: string


Column: 부속건축물수
0    0
1    0
2    0
3    0
4    0
Name: 부속건축물수, dtype: string


Column: 부속건축물면적(㎡)
0    0
1    0
2    0
3    0
4    0
Name: 부속건축물면적(㎡), dtype: string


Column: 총동연면적(㎡)
0    285.06
1        16
2     62.51
3    898.26
4    163.95
Name: 총동연면적(㎡), dtype: string


Column: 옥내기계식대수(대)
0    0
1    0
2    0
3    0
4    0
Name: 옥내기계식대수(대), dtype: string


Column: 옥내기계식면적(㎡)
0    0
1    0
2    0
3    0
4    0
Name: 옥내기계식면적(㎡), dtype: string


Column: 옥외기계식대수(대)
0    0
1    0
2    0
3    0
4    0
Name: 옥외기계식대수(대), dtype: string


Column: 옥외기계식면적(㎡)
0    0
1    0
2    0
3    0
4    0
Name: 옥외기계식면적(㎡), dtype: string


Column: 옥내자주식대수(대)
0    0
1    0
2    0
3    0
4    0
Name: 옥내자주식대수(대), dtype: string


Column: 옥내자주식면적(㎡)
0    0
1    0
2    0
3    0
4    0
Name: 옥내자주식면적(㎡), dtype: string


Column: 옥외자주식대수(대)
0    0
1    0
2    0
3    0
4    0
Name: 옥외자주식대수(대), dtype: string


Column: 옥외자주식면적(㎡)
0    0
1    0
2    0
3    0
4    0
Name: 옥외자주식면적(㎡), dtype: string


Column: 허가일
0    19901122
1        <NA>
2        <NA>
3        <NA>
4        <NA>
Name: 허가일, dtype: string


Column: 착공일
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 착공일, dtype: string


Column: 사용승인일
0    19910331
1        <NA>
2    19710217
3    19661111
4    19810506
Name: 사용승인일, dtype: string


Column: 허가번호년
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 허가번호년, dtype: string


Column: 허가번호기관코드
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 허가번호기관코드, dtype: string


Column: 허가번호기관코드명
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 허가번호기관코드명, dtype: string


Column: 허가번호구분코드
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 허가번호구분코드, dtype: string


Column: 허가번호구분코드명
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 허가번호구분코드명, dtype: string


Column: 호수(호)
0    0
1    0
2    0
3    0
4    0
Name: 호수(호), dtype: string


Column: 에너지효율등급
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 에너지효율등급, dtype: string


Column: 에너지절감율
0    0
1    0
2    0
3    0
4    0
Name: 에너지절감율, dtype: string


Column: 에너지EPI점수
0    0
1    0
2    0
3    0
4    0
Name: 에너지EPI점수, dtype: string


Column: 친환경건축물등급
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 친환경건축물등급, dtype: string


Column: 친환경건축물인증점수
0    0
1    0
2    0
3    0
4    0
Name: 친환경건축물인증점수, dtype: string


Column: 지능형건축물등급
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 지능형건축물등급, dtype: string


Column: 지능형건축물인증점수
0    0
1    0
2    0
3    0
4    0
Name: 지능형건축물인증점수, dtype: string


Column: 생성일자
0    20220813
1    20220813
2    20220813
3    20220813
4    20220813
Name: 생성일자, dtype: string


Column: 내진설계적용여부
0    0
1    0
2    0
3    0
4    0
Name: 내진설계적용여부, dtype: string


Column: 내진능력
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 내진능력, dtype: string

## 국토부 건축물대장 - 총괄표제부

In [15]:
총괄표제부 = pd.read_csv(
    총괄표제부_path, 
    dtype=총괄표제부_dtypes, 
    encoding='UTF-8',     
    sep='|', 
    na_values=['', 'NULL', 'null', 'NaN', 'nan'], 
    names=list(총괄표제부_dtypes.keys()),
    header=None,
    index_col=False,
    skiprows=0
)

In [16]:
#테스트
count = len(총괄표제부)
print(count)
na_count = 총괄표제부[총괄표제부['주용도코드'].isna() | 총괄표제부['주용도코드명'].isna()].shape[0]
print(na_count)

617682
19941

In [17]:
# 각 컬럼에 대한 예시 값 출력
for col in 총괄표제부.columns:
    print(f"Column: {col}")
    print(총괄표제부[col].head())
    print('\n')

Column: 관리건축물대장PK
0    10021820
1    10021822
2    10021824
3    10021827
4    10021828
Name: 관리건축물대장PK, dtype: string


Column: 대장구분코드
0    1
1    1
2    1
3    1
4    1
Name: 대장구분코드, dtype: string


Column: 대장구분코드명
0    일반
1    일반
2    일반
3    일반
4    일반
Name: 대장구분코드명, dtype: string


Column: 대장종류코드
0    1
1    1
2    1
3    1
4    1
Name: 대장종류코드, dtype: string


Column: 대장종류코드명
0    총괄표제부
1    총괄표제부
2    총괄표제부
3    총괄표제부
4    총괄표제부
Name: 대장종류코드명, dtype: string


Column: 신구대장구분코드
0    1
1    1
2    1
3    1
4    1
Name: 신구대장구분코드, dtype: string


Column: 신구대장구분코드명
0    신대장
1    신대장
2    신대장
3    신대장
4    신대장
Name: 신구대장구분코드명, dtype: string


Column: 대지위치
0        서울특별시 종로구 숭인동 19번지
1        서울특별시 종로구 숭인동 42번지
2        서울특별시 종로구 숭인동 53번지
3    서울특별시 종로구 숭인동 58-340번지
4    서울특별시 종로구 숭인동 72-161번지
Name: 대지위치, dtype: string


Column: 도로명대지위치
0                         <NA>
1    서울특별시 종로구 지봉로14길 48 (숭인동)
2                         <NA>
3                         <NA>
4     서울특별시 종로구 종로63길 19 (숭인동)
Name: 도로명대지위치, dtype: string


Column: 건물명
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 건물명, dtype: string


Column: 시군구코드
0    11110
1    11110
2    11110
3    11110
4    11110
Name: 시군구코드, dtype: string


Column: 법정동코드
0    17500
1    17500
2    17500
3    17500
4    17500
Name: 법정동코드, dtype: string


Column: 대지구분코드
0    0
1    0
2    0
3    0
4    0
Name: 대지구분코드, dtype: string


Column: 번
0    0019
1    0042
2    0053
3    0058
4    0072
Name: 번, dtype: string


Column: 지
0    0000
1    0000
2    0000
3    0340
4    0161
Name: 지, dtype: string


Column: 특수지명
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 특수지명, dtype: string


Column: 블록
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 블록, dtype: string


Column: 로트
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 로트, dtype: string


Column: 외필지수
0    0
1    0
2    0
3    0
4    0
Name: 외필지수, dtype: Int64


Column: 새주소도로코드
0            <NA>
1    111104100384
2            <NA>
3            <NA>
4    111104100364
Name: 새주소도로코드, dtype: string


Column: 새주소법정동코드
0     <NA>
1    17501
2     <NA>
3     <NA>
4    17501
Name: 새주소법정동코드, dtype: string


Column: 새주소지상지하코드
0    0
1    0
2    0
3    0
4    0
Name: 새주소지상지하코드, dtype: string


Column: 새주소본번
0    <NA>
1      48
2    <NA>
3    <NA>
4      19
Name: 새주소본번, dtype: Int64


Column: 새주소부번
0    <NA>
1       0
2    <NA>
3    <NA>
4       0
Name: 새주소부번, dtype: Int64


Column: 대지면적(㎡)
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: 대지면적(㎡), dtype: Float64


Column: 건축면적(㎡)
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: 건축면적(㎡), dtype: Float64


Column: 건폐율(%)
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: 건폐율(%), dtype: Float64


Column: 연면적(㎡)
0     76.02
1    207.42
2    115.97
3     57.02
4    406.38
Name: 연면적(㎡), dtype: Float64


Column: 용적률산정연면적(㎡)
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: 용적률산정연면적(㎡), dtype: Float64


Column: 용적률(%)
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: 용적률(%), dtype: Float64


Column: 주용도코드
0    01000
1    01000
2    01000
3    01000
4    01000
Name: 주용도코드, dtype: string


Column: 주용도코드명
0    단독주택
1    단독주택
2    단독주택
3    단독주택
4    단독주택
Name: 주용도코드명, dtype: string


Column: 기타용도
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 기타용도, dtype: string


Column: 세대수(세대)
0    0
1    0
2    0
3    0
4    0
Name: 세대수(세대), dtype: Int64


Column: 가구수(가구)
0    2
1    2
2    3
3    2
4    6
Name: 가구수(가구), dtype: Int64


Column: 주건축물수
0    2
1    2
2    3
3    2
4    2
Name: 주건축물수, dtype: Int64


Column: 부속건축물수
0    0
1    0
2    0
3    0
4    0
Name: 부속건축물수, dtype: Int64


Column: 부속건축물면적(㎡)
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: 부속건축물면적(㎡), dtype: Float64


Column: 총주차수
0    0
1    0
2    0
3    0
4    0
Name: 총주차수, dtype: Int64


Column: 옥내기계식대수(대)
0    0
1    0
2    0
3    0
4    0
Name: 옥내기계식대수(대), dtype: Int64


Column: 옥내기계식면적(㎡)
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: 옥내기계식면적(㎡), dtype: Float64


Column: 옥외기계식대수(대)
0    0
1    0
2    0
3    0
4    0
Name: 옥외기계식대수(대), dtype: Int64


Column: 옥외기계식면적(㎡)
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: 옥외기계식면적(㎡), dtype: Float64


Column: 옥내자주식대수(대)
0    0
1    0
2    0
3    0
4    0
Name: 옥내자주식대수(대), dtype: Int64


Column: 옥내자주식면적(㎡)
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: 옥내자주식면적(㎡), dtype: Float64


Column: 옥외자주식대수(대)
0    0
1    0
2    0
3    0
4    0
Name: 옥외자주식대수(대), dtype: Int64


Column: 옥외자주식면적(㎡)
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: 옥외자주식면적(㎡), dtype: Float64


Column: 허가일
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 허가일, dtype: string


Column: 착공일
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 착공일, dtype: string


Column: 사용승인일
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 사용승인일, dtype: string


Column: 허가번호년
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 허가번호년, dtype: string


Column: 허가번호기관코드
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 허가번호기관코드, dtype: string


Column: 허가번호기관코드명
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 허가번호기관코드명, dtype: string


Column: 허가번호구분코드
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 허가번호구분코드, dtype: string


Column: 허가번호구분코드명
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 허가번호구분코드명, dtype: string


Column: 호수(호)
0    0
1    0
2    0
3    0
4    0
Name: 호수(호), dtype: Int64


Column: 에너지효율등급
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 에너지효율등급, dtype: string


Column: 에너지절감율
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: 에너지절감율, dtype: Float64


Column: 에너지EPI점수
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: 에너지EPI점수, dtype: Float64


Column: 친환경건축물등급
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 친환경건축물등급, dtype: string


Column: 친환경건축물인증점수
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: 친환경건축물인증점수, dtype: Float64


Column: 지능형건축물등급
0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
Name: 지능형건축물등급, dtype: string


Column: 지능형건축물인증점수
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: 지능형건축물인증점수, dtype: Float64


Column: 생성일자
0    20220813
1    20220813
2    20220813
3    20220813
4    20220813
Name: 생성일자, dtype: string

# 서울시 row 만 추출

In [18]:
표제부_서울시 = 표제부[표제부['시군구코드'].str.startswith('11')]
총괄표제부_서울시 = 총괄표제부[총괄표제부['시군구코드'].str.startswith('11')]

print(f'표제부 행 수: {len(표제부_서울시)}')
print(f'총괄표제부 행 수: {len(총괄표제부_서울시)}')

# 옵션: 서울시 표제부 및 총괄표제부 저장
# 국토부 전국 자료가 3GB 정도 되기 때문에 맨 처음 입력시 서울시 자료를 불러오면 훨씬 빠름.
# 표제부_서울시.to_csv('표제부_서울시.csv', index=False, encoding='cp949', sep='|', header=False)
# 총괄표제부_서울시.to_csv('총괄표제부_서울시.csv', index=False, encoding='cp949', sep='|', header=False)

표제부 = 표제부_서울시
총괄표제부 = 총괄표제부_서울시

표제부 행 수: 588716
총괄표제부 행 수: 19622

# 표제부 컬럼 타입 변환

In [19]:
# Then convert columns according to their types
for col, dtype in 표제부_dtypes.items():
    if dtype in ['Int64', 'Float64']:
        표제부[col] = pd.to_numeric(표제부[col], errors='coerce').astype(dtype)
    else:
        표제부[col] = 표제부[col].astype(dtype)

In [20]:
#test
총괄표제부[['주용도코드','주용도코드명']].isna().sum()

주용도코드     490
주용도코드명    490
dtype: int64

# 총괄표제부/표제부 합치기

총괄표제부는 법적으로는 필지 내 건물이 2개 이상 있을 경우 작성되어야 하나, 사람이 직접 작성하는 것이기 때문에 누락된 경우가 많다. 따라서, 총괄표제부 - 표제부 규칙을 일관되게 적용하기 위해 총괄표제부가 누락된 필지의 경우 임의로 생성한 총괄표제부 row 를 생성했다.

In [21]:
# 1. 모든 컬럼 포함해서 합치기
combined_df = pd.concat([총괄표제부, 표제부], axis=0, ignore_index=True)

# 2. 총괄표제부 여부 표시 ('대장종류코드' 가 1 인 경우)
combined_df['is_총괄'] = combined_df['대장종류코드'].eq('1')

# 3. 총괄표제부가 없는 그룹 찾기
group_stats = combined_df.groupby('대지위치').agg({
    'is_총괄': 'sum',
    '관리건축물대장PK': 'count'
}).reset_index()

# 총괄표제부가 없고 표제부가 2개 이상인 그룹 찾기
needs_총괄 = group_stats[
    (group_stats['is_총괄'] == 0) & 
    (group_stats['관리건축물대장PK'] > 1)
]['대지위치'].tolist()  # Series 대신 list로 변환

# 4. 새로운 총괄표제부 row 생성
if needs_총괄:
    도로명_mapping = combined_df[
        combined_df['대지위치'].isin(needs_총괄)
    ].groupby('대지위치')['도로명대지위치'].first().to_dict()
    
    new_총괄_rows = pd.DataFrame([
        {
            '관리건축물대장PK': f"00000-{hash(대지위치) % 1000000:06d}",
            '대지위치': 대지위치,
            '도로명대지위치': 도로명_mapping.get(대지위치, ''),
            'is_총괄': True
        }
        for 대지위치 in needs_총괄
    ])

    print(f'새롭게 생성된 총괄표제부 행 수: {len(new_총괄_rows)}')
    
    combined_df = pd.concat([combined_df, new_총괄_rows], ignore_index=True)

# 대지위치별 건물 수 계산
건물수_by_대지위치 = combined_df.groupby('대지위치').size()

# '그룹 종류' 컬럼 생성
def determine_그룹종류(row):
    if row['is_총괄'] == True or row['대장종류코드'] == '1':
        return 0
    elif 건물수_by_대지위치[row['대지위치']] > 1:
        return 1
    else:
        return 2

combined_df['그룹 종류'] = combined_df.apply(determine_그룹종류, axis=1)

desired_columns = ['관리건축물대장PK', '그룹 종류'] + [col for col in combined_df.columns if col not in ['관리건축물대장PK', '그룹 종류']]
combined_df = combined_df[desired_columns]

# 5. 최종 정렬
combined_df = combined_df.sort_values(
    ['대지위치', '그룹 종류'], 
    ascending=[True, True]
)

# 6. 불필요한 컬럼 제거
combined_df = combined_df.drop('is_총괄', axis=1)

새롭게 생성된 총괄표제부 행 수: 5252

In [22]:
# 7. 병합_dtypes에 맞게 컬럼 구성 및 데이터 타입 변환 (순서 중요)
combined_df = combined_df.reindex(columns=list(병합_dtypes.keys()))

# 데이터 타입 변환
for col, dtype in 병합_dtypes.items():
    if dtype in ['Int64', 'Float64']:
        combined_df[col] = pd.to_numeric(combined_df[col], errors='coerce').astype(dtype)
    else:
        combined_df[col] = combined_df[col].astype(dtype)

In [23]:
#테스트
count = len(combined_df)
print(count)
na_count = combined_df[combined_df['주용도코드'].isna() | combined_df['주용도코드명'].isna()].shape[0]
print(na_count)

613590
5778

# 총괄표제부에서 누락된 연면적/대지면적 계산하기

총괄표제부는 같은 대지위치에 있는 표제부들을 포함한 대지면적과, 이들의 연면적을 합산한 연면적을 가지고 있어야 한다. 하지만 누락된 경우가 많으므로 직접 채워넣었다.

In [24]:
# 만일 총괄표제부 내에 대지면적이 없거나 0일 경우, 같은 대지위치에 있는 표제부('그룹 종류' == 1)의 대지면적 중 가장 큰 값을 복사한다.
max_대지면적 = combined_df[combined_df['그룹 종류'] == 1].groupby('대지위치')['대지면적(㎡)'].max()

mask = (combined_df['그룹 종류'] == 0) & (combined_df['대지면적(㎡)'].isna() | (combined_df['대지면적(㎡)'] == 0))
combined_df.loc[mask, '대지면적(㎡)'] = combined_df.loc[mask, '대지위치'].map(max_대지면적)

In [25]:
# 만일 총괄표제부 내에 연면적이 없거나 0일 경우, 같은 대지위치에 있는 표제부('그룹 종류' == 1)의 연면적을 모두 합산해 대입한다.
sum_연면적 = combined_df[combined_df['그룹 종류'] == 1].groupby('대지위치')['연면적(㎡)'].sum()

mask = (combined_df['그룹 종류'] == 0) & (combined_df['연면적(㎡)'].isna() | (combined_df['연면적(㎡)'] == 0))
combined_df.loc[mask, '연면적(㎡)'] = combined_df.loc[mask, '대지위치'].map(sum_연면적)

In [26]:
#테스트
pd.set_option('display.max_seq_items', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 0)

print(combined_df.iloc[-1].to_string())

관리건축물대장PK                        1008121819
그룹 종류                                     2
대장구분코드                                    1
대장구분코드명                                  일반
대장종류코드                                    2
대장종류코드명                               일반건축물
신구대장구분코드                               <NA>
신구대장구분코드명                              <NA>
대지위치                  서울특별시 중랑구 중화동 산26-2번지
도로명대지위치        서울특별시 중랑구 상봉중앙로5길 33-5 (중화동)
건물명                                    <NA>
시군구코드                                 11260
법정동코드                                 10300
대지구분코드                                    1
번                                      0026
지                                      0002
특수지명                                   <NA>
블록                                     <NA>
로트                                     <NA>
외필지수                                      0
새주소도로코드                        112604118411
새주소법정동코드                              10302
새주소지상지하코드                                 0
새주소본번                                    33
새주소부번                                     5
대지면적(㎡)                                 0.0
건축면적(㎡)                               144.0
건폐율(%)                                  0.0
연면적(㎡)                                432.0
용적률산정연면적(㎡)                           288.0
용적률(%)                                  0.0
주용도코드                                 01000
주용도코드명                                 단독주택
기타용도                                  다가구주택
세대수(세대)                                   0
가구수(가구)                                   3
주건축물수                                  <NA>
부속건축물수                                    0
부속건축물면적(㎡)                              0.0
총주차수                                   <NA>
옥내기계식대수(대)                                0
옥내기계식면적(㎡)                              0.0
옥외기계식대수(대)                                0
옥외기계식면적(㎡)                              0.0
옥내자주식대수(대)                                0
옥내자주식면적(㎡)                              0.0
옥외자주식대수(대)                                0
옥외자주식면적(㎡)                              0.0
허가일                                    <NA>
착공일                                    <NA>
사용승인일                              19790731
허가번호년                                  <NA>
허가번호기관코드                               <NA>
허가번호기관코드명                              <NA>
허가번호구분코드                               <NA>
허가번호구분코드명                              <NA>
호수(호)                                     0
에너지효율등급                                <NA>
에너지절감율                                  0.0
EPI점수                                  <NA>
친환경건축물등급                               <NA>
친환경건축물인증점수                              0.0
지능형건축물등급                               <NA>
지능형건축물인증점수                              0.0
생성일자                               20220813
동명칭                                    <NA>
주부속구분코드                                   0
주부속구분코드명                               주건축물
구조코드                                     11
구조코드명                                  벽돌구조
기타구조                                 시멘트벽돌조
지붕코드                                     10
지붕코드명                              (철근)콘크리트
기타지붕                                 스라브위기와
높이(m)                                   0.0
지상층수                                      2
지하층수                                      1
승용승강기수                                    0
비상용승강기수                                   0
총동연면적(㎡)                              432.0
내진설계적용여부                                  0
내진능력                                   <NA>

# 파일 저장

Tip: excel 파일보다는 csv 파일 저장/불러오기가 더 빠르다.

In [27]:
# 테스트
#combined_df[(combined_df['대지위치'] == '서울특별시 송파구 방이동 89번지') | (combined_df['관리건축물대장PK'] == '11710-100553662')].to_csv(f'./output/국토부-총괄표제부-표제부-병합됨-{년도}-SAMPLE.csv', index=False, header=True)

In [ ]:
#csv로 저장 (이후의 다른 프로세스를 적용하기 위해서는 csv로 저장해야 함)
combined_df.to_csv(f'./output/총괄표제부-표제부-병합됨-{년도}.csv', index=False, header=True)

In [ ]:
#테스트용 엑셀파일 생성
combined_df[:10000].to_excel(f'./output/테스트용-총괄표제부-표제부-병합됨-{년도}.xlsx')

In [30]:
#xlsx로 저장
#combined_df.to_excel(f'./output/국토부-총괄표제부-표제부-병합됨-{년도}.xlsx',index=False, header=True)